body {
  color: black;
  font-family: Arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  h1 {
    font-size: 20px;
  }
  footer {
    color: grey;
    border-top: 1px solid grey;
    padding: 20px 0px;
  }
}